@media screen and (max-width: 1000px){
    .desktopAgenda {
        display: none;
    }
} 

@media screen and (min-width: 1001px){
    .mobileAgenda {
        display: none; 
    }   
    .desktopAgenda {
        font-size: 14px; 
        font-weight: lighter;
    }
} 

@media screen and (min-width: 1600px){
    .navigation .menu--dropdown > .menu__item > .ck-button-one {
        margin: 0 1em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1599px){
    .navigation .menu--dropdown > .menu__item > .ck-button-one {
        margin: 1.7em 1em;
    }
}