body, .form-control {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}


.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

#speakers{
	color: #ffffff
}

#speakers .col{
	margin-bottom: 25px;
}

#speakers .desc{
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}
#speakers .col img{
	width: 80%
}
#speakers .col h4{
	margin-top: 20px
}

#speakers .sidebar-box {
/*  min-height: 110px;
  max-height: 150px;*/
  height: 110px;
  position: relative;
  overflow: scroll;
  background-image: linear-gradient(to top, transparent, #f9b23669);
  cursor: -webkit-grab;
}

.sidebar-box::-webkit-scrollbar {
    width: 0.5em;
}
 
.sidebar-box::-webkit-scrollbar-corner{
	background-color: transparent;
/*    border-radius: 5px;
*/}
 
.sidebar-box::-webkit-scrollbar-thumb {
  background-color: #f9b236;
  border-radius: 5px;
/*  outline: 1px solid slategrey;*/
}

/*Internet Explorer scrollbar*/
#speakers .sidebar-box {
	scrollbar-face-color:#f9b236;
	scrollbar-face-border-radius:5px;
	scrollbar-arrow-color:transparent;
	scrollbar-track-color:transparent;
	scrollbar-shadow-color:transparent;
	scrollbar-highlight-color:transparent;
	scrollbar-3dlight-color:transparent;
	scrollbar-darkshadow-Color:transparent;
}
@media only screen and  (min-width: 992px){
	.col-lg-3{
		max-width: 24% !important
	}
}